.driver-map-page {
  .btn-details {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 50px);
    background: #FFFFFF;
    border: 1px solid #CFD0D1 !important;
    box-shadow: 0 15px 25px 0 rgba(18,151,147,0.40) !important;
    cursor: pointer;
  }
}
